Repository cainaican/avia-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npx eslint

.lintstagedrc.json:

{
    "*.{ts,js}": ["npm run prettier:fix", "npx eslint"],
    "*.html": ["npm run prettier:fix", "npx eslint"],
    "*.css": ["npm run prettier:fix"],
    "*.json": ["npm run prettier:fix"]
}

check: precommit fixed
  .husky/pre-commit
Due: none

check: lint staged added
  package-lock.json
  package.json
Due: npm run prettier:fix

c: added config for pre-commit
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  commitlint.config.js
  package-lock.json
  package.json
  src/app/panels/filter-panel/filter-panel.component.ts
Due: npm run prettier:fix, npx eslint

fix: commit-message was fixed
  .husky/commit-msg
Due: none

feat: filtration added
  .eslintrc.js
  .prettierrc.js
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/models/i-ticket.ts
  src/app/panels/filter-panel/filter-panel.component.ts
  src/app/panels/filter-panel/filter-panel.service.ts
  src/app/panels/tickets-panel/tickets-panel.component.ts
  src/app/services/tickets.service.ts
  src/app/store/filter.actions.ts
Due: npm run prettier:fix, npx eslint

fix: method in template fixed
  src/app/panels/tickets-panel/tickets-panel.component.html
Due: npm run prettier:fix, npx eslint

chore: package json updated
  package-lock.json
  package.json
Due: npm run prettier:fix

feat: new links added
  src/app/app.component.html
  src/app/app.component.scss
  src/assets/backPr.png
  src/assets/ghPr.png
Due: npm run prettier:fix, npx eslint

build: project built
  angular.json
  docs/3rdpartylicenses.txt
  docs/assets/backPr.png
  docs/assets/companies.json
  docs/assets/ghPr.png
  docs/assets/json/companies.json
  docs/assets/json/segments.json
  docs/assets/json/tickets.json
  docs/assets/logo.svg
  docs/assets/s7-logo.svg
  docs/assets/segments.json
  docs/assets/tickets.json
  docs/assets/xiamenair-logo.png
  docs/favicon.ico
  docs/index.html
  docs/main.ae338890f92c5b54.js
  docs/polyfills.155ce4afd6cfb1fc.js
  docs/runtime.232571c9c7da3852.js
  docs/styles.f5e396d74ce0c841.css
Due: npm run prettier:fix, npx eslint

fix: docs/ added in eslintignore
  .eslintignore
Due: none

chore: readme added
  README.md
Due: none

build: paths to chunks modified
  docs/index.html
Due: npm run prettier:fix, npx eslint

build: another build
  angular.json
  docs/index.html
Due: npm run prettier:fix, npx eslint

build: new build with cli
  docs/index.html
Due: npm run prettier:fix, npx eslint

fix: path to imgs fixed
  src/app/app.component.html
Due: npm run prettier:fix, npx eslint

build: new build
  docs/index.html
  docs/main.eadbb2bb4d8dd1b8.js
Due: npm run prettier:fix, npx eslint
